html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 3rem;
}

@media (pointer: coarse) {
  html, body {
    overflow-y: auto;
    scroll-snap-type: none;
  }
}

body {
  position: relative;
  overflow-x: hidden;

  --t: #CDD1C4;
  --text: var(--t);
  --secondary: #9F9FED;
  --b: #120D31;
  --background: var(--b);
  --background-transparent: #CDD1C4cc;
  --utility: #6A7FDB;

  background-color: var(--background);
}

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
}

table {
  width: 100%;
}

tr {
  width: 1fr;
}

td {
  width: 1fr;
}

main {
  color: var(--background);
  font-size: 1.2em;
}

nav > ul {
  padding: 1rem 0;
  max-width: 100svw;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

nav > ul > li {
  display: inline-block;
  margin: 0.5rem 1rem;
}

nav > ul > li::marker {
  display: none;
}

nav a {
  color: white;
}


a {
  font-weight: bolder;
  font-family: inherit;
  text-decoration: none;
  color: var(--utility)
}

a:hover {
  animation: fade-in-color 0.05s linear;
  animation-fill-mode: forwards;
}

@keyframes fade-in-color {
  to {
    color: var(--utility);
  }
}

::-webkit-scrollbar {
    width: .3rem;
    height: .3rem;
}
/* Track */
::-webkit-scrollbar-track {
    background: #2b2b2b;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: .4rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}