div.sections,
div.sections > section {
  display: grid;
  grid-template-columns: 
    [full-start]
    10fr
    [breakout-start]
    10fr
    [content-start]
    min(80ch, calc(100vw - 4rem))
    [content-end]
    10fr
    [breakout-end]
    10fr
    [full-end]
  ;
}

div.sections > section {
  grid-column: full;
}
section.center > * {
  grid-column: content;
}
section.breakout > * {
  grid-column: breakout;
}
section.full-width > * {
  grid-column: full;
}

section > h2 {
  font-size: 2.5em;
  text-decoration: underline;
  padding: 0 0 2rem;
  color: var(--title-text);
}

section > h3 {
  font-size: 2em;
  text-decoration: underline;
  padding: 0 0 1rem;
  color: var(--title-text);
}

section > p + h2,
section > p + h3 {
  padding-top: 2rem;
}

section > p + p {
  padding-top: 1.15rem;
}

section {
  scroll-snap-align: start;
  background-color: var(--background);
  color: var(--text);
  padding: 4rem 0;
}

section.inverted,
.cards > article {
  --background: var(--whitish);
  --title-text: var(--blackish);
  --text: black;
}

section.inverted {
  --goldish: #edb721;
}

#portfolio-cards {
  padding: 0;
}

#about {
  position: relative;
}

#about > img {
  position: absolute;
  width: 12rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#about > * {
  width: calc(100% - 14rem);
}
@media only screen and (max-width: 600px) {
  #about > img:not(.hero-background) {
    display: none;
  }
  #about > * {
    width: 100%;
  }
}